.silent {
    color: gray;
}
.uiline {
    height: 64px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}
.uiline img {
    height: 64px;
}
.uiline .namepart {
    flex: 1;
    min-width: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

.name {
    font-size: 150%;
}
.distance {
    width: 64px;
    font-size: 300%;
    text-align: center;
    color: #000088;
}

/*
.passive {
    color: gray;
}
.active {
    font-weight: bold;
}
.passed {
    color: green;
}
.silent {
    color: red;
}
*/
