.uiline {
    height: 64px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}
.uiline img {
    height: 64px;
}
.uiline .name {
    flex: 1;
    min-width: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

.passive {
    color: gray;
}
.active {
    font-weight: bold;
}
.passed {
    color: green;
}
.silent {
    color: red;
}
