.topbar {
    height: 32px;
}
.help {
}
.help_text {
    padding: 5px;
}

.button {
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    text-align: center;
}

.silent {
    color: gray;
}
.uiline {
    height: 64px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}
.uiline img {
    height: 64px;
}
.uiline .namepart {
    flex: 1;
    min-width: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

.name {
    max-height: 48px;
    font-size: 150%;
    overflow: hidden;
    white-space:nowrap;
}
.distance {
    width: 64px;
    font-size: 300%;
    text-align: center;
    color: #000088;
}

/*
.passive {
    color: gray;
}
.active {
    font-weight: bold;
}
.passed {
    color: green;
}
.silent {
    color: red;
}
*/
